* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  background-color: #27cc79;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.a {
  background-color: #c2b222;
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
}
.b {
  background-color: #eee;
  width: 60%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  

}
.c {
  background-color: #d1afaf;
  width: 60%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}
.d {
  background-color: #3e1983;
  width: 60%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}
