@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-family: "Ubuntu" sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.bg {
  background: url("https://images.unsplash.com/photo-1691019568201-84b6623d2f32?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxNHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=700&q=60");
  width: calc(100vw + 30px);
  height: calc(100vh + 30px);
  position: absolute;
  z-index: -1;
  top: -30px;
  left: -30px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(0px);
}

.loading-text {
  font-size: 50px;
  color: #fff;
}
